@font-face {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#main-header { 
    width: 100%;
    height: 20%;
    position: relative;
}
nav {
    float: right;
    position: absolute;
    top: 42%;
    right: 7%;
    transform: translate(0%, -50%);
}
.menu-item {
    list-style: none;
    display: inline-block;
    padding-right: 120px;
    font-weight: bold;
    font-size: 22px;
}
#main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title {
    text-align: center;
    font-weight: 500;
    
}
#search {
    vertical-align: middle;
    display: table-cell;
    width: 580px;
    height: 55px;
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
}
#input_studentNum {
    border: 0;
    font-size: 17px;
    width: 503px;
    height: 95%;
    outline: none;
    float: left;
    padding-left: 20px;
    text-align: left;
    border-radius: 15px;
}
#btn_studentNum {
    position: absolute;
    border: 0;
    width: 50px;
    height: 50px;
    float: right;
    outline: none;
    background-color: transparent;
}
#btn_studentNum img{
	display:block;
	width:100%;
	height:auto;
}
#btn_apply {
    vertical-align: middle;
    display: table-cell;
    width: 580px;
    height: 63px;
    border-radius: 17px;
    background-color: #9EA9D7;
    border: 0;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.modal_unavailable{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background-color: rgba(0,0,0,0.5);
}
.imgWagi {
    width: 230px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-box1{
    position:absolute;
    top:50%;  

    width:500px;  
    height:300px;  
    
    text-align: center;

    background-color: #79809F;
    
    border-radius: 20px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

    transform:translateY(-50%); 
    color: black;
}
.modal-content1 {
    /*
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    width: 500px;
    height: 200px;


}
.email {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 333px;
    height: 55px;
    border-radius: 17px;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.58);
}

.out_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 76%);
    width: 330px;
    height: 55px;
    border-radius: 17px;
    transition: all 1s;
    line-height: 55px;
    text-align: center;
    z-index:9;
    background-color: rgb(255, 255, 255, 0.58);
    opacity:0;
}
.out_text span{
    border: 0;
    font-size: 17px;
    width: 310px;
    height: 53px;
    outline: none;
    float: left;
    padding-left: 40px;
    margin: 0;
    text-align: left;
    border-radius: 17px;
    background-color:rgb(255, 255, 255, 0);
}
.out_text.on {
    transform: translate(-50%, 0);
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.input_email{
    border: 0;
    font-size: 17px;
    width: 310px;
    height: 53px;
    outline: none;
    float: left;
    padding-left: 20px;
    margin: 0;
    text-align: left;
    border-radius: 17px;
    background-color:rgb(255, 255, 255, 0);
}
.up {
    position: relative;
    display: none;

    width: 350px;
    height: 55px;

    top: 62px;
    left: 72px;

    
    border-radius: 15px;
}
.up_message {
    position: relative;

    font-size: 17px;
    margin-top: auto;
    margin-left: 51px;
    line-height: 55px;
}
#close-modal {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    outline: none;
    border: 0;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
}
.modal_pass{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    
    background-color: rgba(0,0,0,0.5);
}
.modal-box2{
    position:absolute;
    top:50%;  

    width:500px;  
    height:350px;  
    
    text-align: center;

    background-color: #A9B5EA;
    
    border-radius: 20px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
    transform:translateY(-50%); 
    color: black;
}
.modal-content2 {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 330px;
}
.OT_info {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(255, 255, 255, 0.58);
    border-radius: 20px;
    width: 300px;
    height: 150px;
}
.modal_fail{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    
    background-color: rgba(0,0,0,0.5);
}

.modal-box3{
    position:absolute;
    top:50%;  

    width:430px;  
    height:250px;  
    
    text-align: center;

    background-color: #A9B5EA;
    
    border-radius: 20px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
    transform:translateY(-50%); 
    color: black;
}
.modal-content3 {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 330px;
}
.failure_message {
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(255, 255, 255, 0.58);
    border-radius: 20px;
    width: 250px;
    height: 100px;
}