<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activities_modify</title>
    <link href="../../static/css/activities.css" rel="stylesheet" type="text/css">
    <script src="../../static/js/activities.js"></script>
</head>

<body>
    <header id="main-header">
        <img src="../../static/img/WAGI logo.png" alt="logo">
        <nav id="main-navigation">
            <ul class="menu">
                <li class="menu-item">Activities</li>
                <li class="menu-item">People</li>
                <li class="menu-item">Join</li>
                <li class="menu-item">Notice</li>
            </ul>
        </nav>
    </header>
    <div id="content"><!--헤더 밑-->
        <div id="modify_button_area"><!--수정 버튼 공간 (없음)--></div>
        <div id="item_area"><!--수정 버튼 밑-->
            <div id="article"><!--모든 앨범-->
                <!--MT-->
                <div class="item" id="mt"><!--앨범 및 앨범 이름-->
                    <div class="album">
                        <div class="button delete_button" id="delete_mt">
                            선택한 파일 삭제하기
                        </div>
                        <div id="mt_file_select"><!--파일 선택(업로드) 버튼-->
                            <label for="mt_file" class="file_label" id="mt_file_label">사진 다시 업로드하기</label>
                            <input type="file" id="mt_file" name="mt_file" multiple="multiple"
                                accept="image/*"><!--accept=".jpg"-->
                        </div>
                        <div class="img_box_small size_small" id="mt_img_box">
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex1.jpg" alt="MT picture 1" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex2.jpg" alt="MT picture 2" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex3.jpg" alt="MT picture 3" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex4.jpg" alt="MT picture 4" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex5.jpg" alt="MT picture 5" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex6.jpg" alt="MT picture 6" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex7.jpg" alt="MT picture 7" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex8.jpg" alt="MT picture 8" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex9.jpg" alt="MT picture 9" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex10.jpg" alt="MT picture 10" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex11.jpg" alt="MT picture 11" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/mt/ex12.jpg" alt="MT picture 12" onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">MT</div> <!--앨범 이름-->
                </div>
                <!--이하 동일-->
                <!--study-->
                <div class="item" id="study">
                    <div class="album">
                        <div class="button delete_button" id="delete_study">
                            선택한 파일 삭제하기
                        </div>
                        <div id="study_file_select"><!--파일 선택(업로드) 버튼-->
                            <label for="study_file" class="file_label" id="study_file_label">사진 다시 업로드하기</label>
                            <input type="file" id="study_file" name="study_file" multiple="multiple"
                                accept="image/*"><!--accept=".jpg"-->
                        </div>
                        <div class="img_box_small size_small" id="study_img_box">
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex1.jpg" alt="study picture 1"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex2.jpg" alt="study picture 2"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex3.jpg" alt="study picture 3"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex4.jpg" alt="study picture 4"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex5.jpg" alt="study picture 5"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex6.jpg" alt="study picture 6"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex7.jpg" alt="study picture 7"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex8.jpg" alt="study picture 8"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex9.jpg" alt="study picture 9"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex10.jpg" alt="study picture 10"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex11.jpg" alt="study picture 11"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/study/ex12.jpg" alt="study picture 12"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">Study</div>
                </div>
                <!--project-->
                <div class="item" id="project">
                    <div class="album">
                        <div class="button delete_button" id="delete_project">
                            선택한 파일 삭제하기
                        </div>
                        <div id="project_file_select"><!--파일 선택(업로드) 버튼-->
                            <label for="project_file" class="file_label" id="project_file_label">사진 다시
                                업로드하기</label>
                            <input type="file" id="project_file" name="project_file" multiple="multiple"
                                accept="image/*"><!--accept=".jpg"-->
                        </div>
                        <div class="img_box_small size_small" id="project_img_box">
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex1.jpg" alt="project picture 1"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex2.jpg" alt="project picture 2"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex3.jpg" alt="project picture 3"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex4.jpg" alt="project picture 4"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex5.jpg" alt="project picture 5"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex6.jpg" alt="project picture 6"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex7.jpg" alt="project picture 7"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex8.jpg" alt="project picture 8"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex9.jpg" alt="project picture 9"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex10.jpg" alt="project picture 10"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex11.jpg" alt="project picture 11"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                            <div class="image-wrapper">
                                <img src="../../static/img/project/ex12.jpg" alt="project picture 12"
                                    onerror="this.style.display='none'">
                                <input type="checkbox" class="img-checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">Project</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>