<!DOCTYPE html>

<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동아리원 소개</title>
    <link rel = "stylesheet" href="css/people.css"/>

</head>
<body>
    <div class ="center">
        <div class = "L_bubble">
            <div class = "L_photo">
                <h1>사진</h1>
            </div>
            <div class="L_name">
                <h2> 이름</h2>
            </div>
            <div class = "L_rink">
                <h2>링크자리</h2>
            </div>
            <div class ="L_text" >
                <h3> 소개글 들어갈 공간입니다. </h3>
            </div>
        </div>

        <div class = "R_bubble">
            <div class = "R_photo">
                <h1>사진</h1>
            </div>
            <div class="R_name">
                <h2> 이름</h2>
            </div>
            <div class = "R_rink">
                <h2>링크자리</h2>
            </div>
            <div class ="R_text" >
                <h3> 소개글 들어갈 공간입니다. </h3>
            </div>
        </div>
    </div>
</body>
</html>
