
body{
    background-color: black; 
}
.center{
    background-color: black;  
    width: 1500px;
    position: relative;
    margin: 0 auto;
}
.top>h1{color: white;}
.top{
   border: dotted white;
    height: 200px;
}        
nav {
    float: right;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(0%, -50%);
}

.L_bubble {/*말풍선 둥근 사각형 생성*kjhsdvio*/
    position: relative;
    width: 640px;
    height: 180px;
    padding: 10px;
    margin: 10px;
    margin-left: 80px;
    background: #9EA9D7;
    border-radius: 20px;
    color: black;
}

.L_bubble:after { /*말풍선 아래 삼각형 생성*/
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: #9EA9D7;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -30px;  
}

.L_photo{
    width: 180px;
    height: 160px;
    float: left;
    margin: 1%;
    margin-left: 15px;
    padding: auto;
    text-align: center;
    border: 2px dotted black;
}
.L_text{
    width: 400px;
    height: 80px;
    float: inline-end; 
    margin-left: 15px;
    margin-right: 15px;
    padding: auto;
    text-align: center;
    border: 2px dotted black;
}
.L_name{
    width: 120px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    float: inline-start;
    text-align: center;
    padding: auto;
    border: 2px dotted black;
}
.L_rink{
    width: 140px;
    height: 60px;  
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    float: inline-start; 
    text-align: center;
    padding: auto;
    border: 2px dotted black;
}

.R_bubble {/*말풍선 둥근 사각형 생성*/
    position: relative;
    float: left;
    width: 640px;
    height: 180px;
    padding: 10px;
    margin: 10px;
    margin-left: 640px;
    background: white;
    border-radius: 20px;
    align-self: flex-end;
    color: black;

}

.R_bubble:after { /*말풍선 아래 삼각형 생성*/
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -30px;
    transform: matrix(45);
    
}

.R_photo{
    width: 180px;
    height: 160px;
    float: right;
    margin: 1%;
    margin-right: 15px;
    padding: auto;
    text-align: center;
    border: 2px dotted black;
}
.R_text{
    width: 400px;
    height: 80px;
    float: inline-start; 
    margin-left: 15px;
    margin-right: 15px;
    padding: auto;
    text-align: center;
    border: 2px dotted black;
}
.R_name{
    width: 120px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    float: inline-start;
    text-align: center;
    padding: auto;
    border: 2px dotted black;
}
.R_rink{
    width: 140px;
    height: 60px;  
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    float: inline-start; 
    text-align: center;
    padding: auto;
    border: 2px dotted black;
}


