body {
    background-color: black;
    height: 10000px;
    width: auto;
    overflow: scroll;
    position: relative;
}

.center {
    width: 1200px;
    height: auto;
    position: absolute;  
    left: 50%;
    top: 300px;
    margin-left: -600px;
  }
  

.L_bubble {/*말풍선 둥근 사각형 생성*kjhsdvio*/
    position: relative;
    width: 660px;
    height: 200px;
    padding: 5px;
    margin: 30px;
    margin-top: 60px;
    margin-left: 120px;
    background: #9EA9D7;
    border-radius: 20px;
    color: black;
    clear: both;
}

.L_bubble:after { /*말풍선 아래 삼각형 생성*/
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #9EA9D7;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -25px;  
}

.L_photo{
    width: 180px;
    height: 180px;
    float: left;
    margin-left: 15px;
    text-align: center;
    
}
.L_text{
    width: 400px;
    height: 60px;
    float: inline-start;
    text-align: center;
    font-weight: bold ;
    font-size: 30px;
    margin-left: 15px;
    overflow: visible;  
}
.L_name{
    width: 130px;
    height: 70px;
    margin-left: 15px;
    float: inline-start;
    text-align: center;
    font-weight: bolder ;
    font-size: 25px;
    overflow: visible;

}
.L_rink{
    width: 140px;
    height: 60px;  
    margin-bottom: 5px;
    margin-top: 30px;
    margin-left: 15px;
    float: inline-start; 
    text-align: center;
    padding: auto;
    
}

.R_bubble {/*말풍선 둥근 사각형 생성*/
    position: relative;
    float: right;
    width: 660px;
    height: 200px;
    padding: 10px;
    margin: 30px;
    margin-bottom: 60px;
    margin-right: 120px;
    background: white;
    border-radius: 20px;
    align-self: flex-end;
    color: black;
    clear: both;

}

.R_bubble:after { /*말풍선 아래 삼각형 생성*/
    content: '';
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -25px;
    transform: matrix(45);
    
}

.R_photo{
    width: 180px;
    height: 180px;
    float: right;
    margin-right: 15px;
    text-align: center;
}
.R_text{
    width: 400px;
    height: 60px;
    float: inline-start;
    text-align: center;
    font-weight: bold ;
    margin-left: 15px;
    font-size: 30px;
    overflow: visible;  
}
.R_name{
    width: 120px;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 60px;
    float: inline-start;
    text-align: center;
    font-weight: bold ;
    font-size: 25px;
    overflow: hidden;
}
.R_rink{
    width: 140px;
    height: 60px;  
    margin-bottom: 5px;
    margin-top: 30px;
    margin-left: 15px;
    float: inline-start; 
    text-align: center;
    padding: auto;
    
}

@keyframes bubbleFadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .L_bubble, .R_bubble {
    opacity: 0;
    animation-name: bubbleFadeIn;
    animation-duration: 0.8s; /* 애니메이션 지속 시간을 조정합니다. */
    animation-fill-mode: forwards; /* 애니메이션 완료 후 상태를 유지합니다. */
  }

  
  
