<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>WAGI WEB PAGE</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    

<body>
    <div id="page-wrapper">
        <header id="main-header">
            <img src="{% static 'img/WAGI logo.png' %}" alt="logo">
            <nav id="main-navigation">
                <ul class="menu">
                    <li class="menu-item">Activities</li>
                    <li class="menu-item">People</li>
                    <li class="menu-item">Join</li>
                    <li class="menu-item">Notice</li>
                </ul>
            </nav>
        </header>

        {% block content %} 
	
        <!--이 사이에 각 html별로 겹치지 않는 내용이 들어가면 됩니다-->
    
        {% endblock %}

        <footer id="main-footer">

            <img src="{% static 'img/WAGI black.png' %}" alt="logo">

            <div style="background-color: #9EA9D7;">
                <div class="round-button"></div>
                <div class="round-button"></div>
                <div class="round-button"></div>
            </div>

            <p>ⓒWAGI. 2023 All rights reserved</p>

            <button id="login-button" onclick="window.location.href='login.html'">LOGIN</button>
        </footer>

        <script>
        </script>
    </div>
</body>

</html>
